/*----------------------------------------*/
/*  04. CATEGORY CSS START
/*----------------------------------------*/

.category{
    &__item{
        padding: 40px;
        // @include box-shadow(0px 30px 70px 0px  #c2e8c2/*rgba(8, 0, 42, 0.1)*/);
        // @include box-shadow(0px 1px 2px 0px rgba(0, 0, 41, 0.1));
        @include box-shadow(-40px 10px 148px -41px rgba(0, 0, 41, 0.1));
        // box-shadow: -40px 10px 148px -41px rgba(32,201,151,0.75);
        @include border-radius(0px);
        border: 1px solid $white;
        @media #{$xl}{
            // padding: 40px 30px;
        }
        @media #{$lg}{
            padding: 20px 15px;
        }
        @media #{$sm}{
            padding: 0px;
        }
        &:hover{
            // border-color:  rgba(32,201,151,0.75);//$m-blue;
            border-color:  green;//$m-blue;
            @include transform(translateY(-15px));
        }
    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        & a{
            &:hover{
                color: green;//$m-blue;
                // color:rgba(32,201,151,0.75);
            }
        }
    }
}
.col-xl-3{
    width: 33.3%;
}
.category__item{
    padding: 0px 0px 0px 0px;
    border-radius: 0.5rem;
    overflow: hidden; 
    // box-shadow: -40px 10px 148px -41px rgba(32,201,151,0.75);
    // -webkit-box-shadow: -40px 10px 148px -41px rgba(32,201,151,0.75);
    // -moz-box-shadow: -40px 10px 148px -41px rgba(32,201,151,0.75);  
}



